.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.logo-link {
    text-align: center;
}

.cleveron-logo {
    width: 60%;
    text-align: center;
}

.form-success {
  padding-top: 100px;
  color: red;
}
